/*mobile-first*/

body{
	background-color: #FFF0F5;
}

@media (min-width: 675px) {
	body{
		background-color: #FFE4C4;
	}
}
@media (min-width: 999px) {
	body{
		background-color: #FFE4C4;
	}
}
@media (min-width: 1280px) {
	body{
		background-color: #FFE4C4;
	}
}

